{% form_theme integer_form 'bootstrap_4_layout.html.twig' %}
{% form_theme string_form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}
{% block title %}
    Sorted Linked List
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Sorted Linked List</h1>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm">
                    {{ form_start(integer_form) }}
                    <div class="row align-items-center">
                        <div class="col-1"></div>
                        <div class="col-6">
                            {{ form_widget(integer_form) }}
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-sm text-center">
                            <input type="submit" value="Submit" class="btn btn-success">
                        </div>
                    </div>
                    {{ form_end(integer_form) }}
                </div>
                <div class="col-sm">
                    {{ form_start(string_form) }}
                    <div class="row align-items-center">
                        <div class="col-1"></div>
                        <div class="col-6">
                            {{ form_widget(string_form) }}
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-sm text-center">
                            <input type="submit" value="Submit" class="btn btn-success">
                        </div>
                    </div>
                    {{ form_end(string_form) }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3>IntegerList:</h3>
                    {% if intList.isEmpty() %}
                        <p>List is empty</p>
                    {% else %}
                        <ul class="list-group-flush" id="intList">
                            {% for value in intList %}
                                <li class="list-group-item">
                                    {{ value }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="col-sm">
                    <h3>StringList:</h3>
                    {% if strList.isEmpty() %}
                        <p>List is empty</p>
                    {% else %}
                        <ul class="list-group-flush" id="strList">
                            {% for value in strList %}
                                <li class="list-group-item">
                                    {{ value }}
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
